:root {
    --BG-MAIN-COLOR: #1c1c23;
    --BG-MAIN-COLOR-HOVER: #474758;
    --white: #fff;
    --white-hover: #d7d7d7;
    --black: #000;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier Prime', sans-serif;
}

body {
    background-color: var(--BG-MAIN-COLOR);
    color: var(--white);
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: top;
    height: 100%;
    width: 100%;
}

header {
    background-color: var(--BG-MAIN-COLOR);
    height: 6rem;
    max-width: 100vw;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.Header-social {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.Header-Title {
    color: var(--white);
}

.Header-Icon {
    color: var(--BG-MAIN-COLOR-HOVER);
    font-size: 24px;
    transition: 0.4s;
}

.Header-Icon:hover {
    color: var(--white);

}

footer {
    display: flex;
    justify-content: end;
    padding: 5px;
}

.Content {
    min-width: 50vw;
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Buttons {
    display: flex;
    gap: 10px;
}

.Buttom-Type-1 {
    background-color: var(--white);
    color: black;
}

.Buttom-Type-1:hover {
    background-color: var(--white-hover);
}

.Buttom {
    padding: 12px;
    border: solid 1px black;
    border-radius: 10px;
    text-decoration: none;
}

.Title {
    font-size: 48px;
    font-weight: 700;
}

.Subtitle {
    font-size: 20px;
    font-weight: 400;
}

.List {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Projects {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
    list-style: none;
}

.Item-Project {
    width: 256px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.Image-Project {
    width: 100%;
}

.Title-Project {
    font-size: 24px;
    font-weight: 700;
}

.Description-Project {
    font-size: 16px;
    font-weight: 400;
}

.Tecnology-Project {
    font-size: 14px;
    font-weight: 400;
}

.Buttons-Project {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.Buttom-Project {
    padding: 6px;
    border: solid 1px var(--white);
    font-weight: 400;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    background-color: var(--white);
    color: black;
    transition: 0.3s;
}

.Buttom-Project:hover {
    background-color: var(--white-hover);
}

.Buttom-Project-Deploy {
    background-color: var(--white);
    color: black;
}

.Buttom-Project-Unavailable {
    background-color: var(--white-hover);
    cursor: not-allowed;
}

.Navigation-Container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Navigation {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.Navigation-Title {
    font-size: 32px;
    font-weight: 700;
}

.Navigation-Item {
    font-size: 18px;
}

.Navigation-Item:hover,
.Navigation-Item-Active {
    color: var(--white-hover);
    text-decoration: overline;
    cursor: pointer;
}


.disable {
    display: none;

}

.active {
    display: flex;
}

@media (max-width: 600px) {
    main {
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .Header-Title {
        font-size: 24px;
    }

    .Title {
        font-size: 40px;
    }

    .Subtitle {
        text-align: center;
    }

    .Content {
        padding: 12px;
        min-width: 100vw;
        max-width: 100vw;
        align-items: center;
    }

    .Item-Project {
        width: 100%;
    }

    .Image-Project {
        width: 100%;
    }

    .Projects {
        justify-content: center;
    }

    .Navigation-Container {
        align-items: center;
        text-align: center;
    }

    footer {
        text-align: center;
    }
}