@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --AZUL-QUARTENARIO: #03001C;
    --AZUL-TERCIARIO: #0d017c;
    --AZUL-SECUNDARIO: #301E67;
    --AZUL-PRIMARIO: #5B8FB9;
    --AZUL-WHITE: #B6EADA;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


header {
    background-color: var(--AZUL-QUARTENARIO);
    border-bottom: 2px solid var(--AZUL-SECUNDARIO);
    height: 3.5rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1px 50px;
    color: var(--AZUL-WHITE);
}

footer {
    display: flex;
    align-items: center;
    color: #03001C;
    justify-content: center;
}

section {
    height: 100vh;
    padding: 0px 50px;
}

h1 {
    font-size: 4rem;
    font-weight: 600;
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
}


h3 {
    font-weight: 300;
}

.inicio {
    align-items: center;
    background-color: var(--AZUL-QUARTENARIO);
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.sections {
    align-items: center;
}

.sections a {
    align-items: center;
    color: var(--AZUL-WHITE);
    padding: 0px 15px;
    text-decoration-line: none;
}

.sections a:hover,
.sections a:focus {
    text-decoration-line: underline;
    color: var(--AZUL-PRIMARIO);
}


.redes_sociais {
    padding-top: 10px;
    display: block;
    align-items: center;
}

.redes_sociais a {
    align-items: center;
    font-size: 170%;
    padding: 0px 20px;
    margin: 10px;
    color: var(--AZUL-WHITE);
    border-radius: 10%;
}

.redes_sociais a:hover {
    color: var(--AZUL-PRIMARIO);
}


.imagem_inicio {
    height: 75%;
    width: auto;
    border: solid 10px var(--AZUL-SECUNDARIO);
    border-radius: 50%;
}

.Texts {
    padding: 50px;
    align-items: center;
}

.Texts h1 {
    color: var(--AZUL-WHITE);
}

.Texts h2 {
    color: var(--AZUL-SECUNDARIO);
}


.Texts h3 {
    color: white;
}


.aboutme {
    background-color: var(--AZUL-PRIMARIO);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mapaifma {
    display: flex;
    align-items: center;
}

.aboutme_content {
    width: 50%;
    height: 50%;
    display: block;
}

.aboutme_content h1 {
    color: var(--AZUL-QUARTENARIO);
}

.aboutme_content h3 {
    color: var(--AZUL-QUARTENARIO)
}

.aboutme_texts {
    padding-bottom: 25px;
}

.tecnologias {
    color: var(--AZUL-QUARTENARIO);
    display: flex;
    justify-content: space-between;
    height: auto;
}

.tecnologias i {
    font-size: 50px;
    transition: 0.3s;
    align-items: center;
}

.tecnologias i:hover {
    cursor: pointer;
    font-size: 75px;
    text-shadow: 0px 0px 10px var(--AZUL-WHITE);

}

.contact {
    background-color: var(--AZUL-QUARTENARIO);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactContainer {
    display: block;
    align-items: center;
    justify-content: center;

}

.contactItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}

.contactItems span a,
.contactItems span h2,
.contactItems span h3 {
    display: flex;
    justify-content: center;
}

.contactContainer h1 {
    color: var(--AZUL-WHITE);
}

.contactItems span h2 {
    color: var(--AZUL-SECUNDARIO);
    font-size: 20px;
}

.contactItems span h3 {
    color: white;
}

.contactItems span a {
    font-size: 60px;
    color: var(--AZUL-PRIMARIO);
}