@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --AZUL-QUARTENARIO: #FC4A1A;
    --AZUL-TERCIARIO: #0d017c;
    --AZUL-SECUNDARIO: #301E67;
    --AZUL-PRIMARIO: #5B8FB9;
    --AZUL-WHITE: #B6EADA;
    --background-color-main: #27323E;
    --background-color-second: #212529;
    --white: #fff;
    --white-hover: rgb(215, 215, 215);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
}

header {
    background-color: var(--AZUL-QUARTENARIO);
    height: 3.5rem;
    width: 100vw;
    align-items: center;
    display: flex;
    justify-content: space-around;
    color: white;
    position: fixed;
}

footer {
    display: flex;
    align-items: center;
    color: #03001C;
    justify-content: center;
    width: 100vw;
    background-color: var(--white);
}

section {
    width: 100vw;
    min-height: 100vh;
}

h1 {
    font-size: 4rem;
    font-weight: 600;
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
}


h3 {
    font-weight: 300;
}

.inicio {
    align-items: center;
    text-align: center;
    background-color: var(--background-color-main);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 3.5rem 0;
}

.sections {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    align-items: center;

}

.sections a {
    align-items: center;
    color: var(--white);
    text-decoration-line: none;
}

.sections a:hover,
.sections a:focus {
    text-decoration-line: underline;
    color: var(--white-hover);
}


.redes_sociais {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.redes_sociais a {
    align-items: center;
    font-size: 25px;
    padding: 5px 10px;
    color: var(--white);
    border-radius: 50%;
    background-color: var(--AZUL-QUARTENARIO);
}

.redes_sociais a:hover {
    color: var(--white-hover);
    background-color: #cf2f03;
}


.imagem_inicio   {
    width: 35%;
    height: auto;
    border: solid 5px var(--AZUL-QUARTENARIO);
    border-radius: 50%;
}

.Texts {
    align-items: center;
}

.Texts h1 {
    color: var(--white);
    font-size: 60px;
}

.Texts h2 {
    color: var(--AZUL-QUARTENARIO);
    font-size: 34px;
}


.Texts h3 {
    color: white;
}


.aboutme {
    background-color: var(--background-color-second);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mapaifma {
    display: flex;
    align-items: center;
}

.aboutme_content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    flex-direction: column;
}

.aboutme_content h1 {
    color: var(--AZUL-QUARTENARIO);
}

.aboutme_content h3 {
    color: var(--white);
}

.aboutme_texts {
    padding-bottom: 25px;
}

.tecnologias {
    color: var(--AZUL-QUARTENARIO);
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.tecnologias i {
    font-size: 50px;
    font-size: 50px;
    transition: 0.3s;
    align-items: center;
}

.tecnologias i:hover {
    cursor: pointer;
    font-size: 75px;
    text-shadow: 0px 0px 10px var(--white);

}

.contact {
    background-color: var(--AZUL-QUARTENARIO);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.contactItems {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 15px;
}

.contactItems span a,
.contactItems span h2,
.contactItems span h3 {
    display: flex;
    justify-content: center;
}

.contactContainer h1 {
    color: var(--white);
}

.contactItems span h2 {
    color: var(--white);
    font-size: 20px;
}

.contactItems span h3 {
    color: white;
}

.contactItems span a {
    font-size: 60px;
    color: var(--white);
}